<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AdaptiveCyberDefense -->
      <package
            uri="http://www.emftext.org/language/AdaptiveCyberDefense"
            class="org.emftext.language.AdaptiveCyberDefense.AdaptiveCyberDefensePackage"
            genModel="metamodel/AdaptiveCyberDefense.genmodel"/>
   </extension>

</plugin>
