<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM 
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<Configuration status="INFO">
    <Properties>
        <Property name="basePath">/Users/yehia/Documents/GraphivFilesReact</Property>
    </Properties>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="DebugFile" fileName="${basePath}/logger4j-debug.log " immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level [%C{3} %M:%L] %logger{36} - %msg%n"/>
        </File>
         <File name="TraceFile" fileName="${basePath}/logger4j-trace.log " immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%C{3} %M:%L] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="Console" level="info"/> 
            <AppenderRef ref="TraceFile" level="trace"/>
            <AppenderRef ref="DebugFile" level="debug"/>
        </Root>
    </Loggers>
</Configuration>